alfresco:
  environment:
    CONTENT_STORE: /content
    DB_HOST: postgresql
    DB_KIND: postgresql
    DB_NAME: alfresco
    DB_PASSWORD: alfresco
    DB_USERNAME: alfresco
    LDAP_ENABLED: "false"
    #LDAP_AUTH_USERNAMEFORMAT: uid=%s,cn=users,cn=accounts,dc=example,dc=com
    #LDAP_DEFAULT_ADMINS: admin
    #LDAP_ENABLED: true
    #LDAP_GROUP_SEARCHBASE: cn=groups,cn=accounts,dc=example,dc=com
    #LDAP_SECURITY_CREDENTIALS: secret
    #LDAP_SECURITY_PRINCIPAL: uid=admin,cn=users,cn=accounts,dc=example,dc=com
    #LDAP_URL: ldap://ipa.example.com:389
    #LDAP_USER_SEARCHBASE: cn=users,cn=accounts,dc=example,dc=com
    CROWD_ENABLED: "true"
    #CROWD_SYNCHRONIZATION_ENABLE: "true"
    #CROWD_AUTH_SSO_ENABLED: "false"
    #CROWD_AUTH_LICENSE: "MY_LICENSE"
    #CROWD_URL: http://crowd:8095/crowd
    #CROWD_AUTHENTICATION_ALLOW_GUEST_LOGIN: "false"
    #CROWD_GROUP_UPPERCASE: "true"
    #CROWD_GROUP_PREFIX_STRIP: ""
    #CROWD_GROUP_PREFIX_ADD: ""
    #CROWD_GROUP_REPLACE_DASHES: "true"
    #ALFRESCO_CROWD_APPLICATION_NAME: "alfresco"
    #ALFRESCO_CROWD_APPLICATION_PASSWORD: "my-password"

  build: .
  links:
    - postgresql:postgresql
  ports:
    - "21:21"
    - "137:137"
    - "138:138"
    - "139:139"
    - "445:445"
    - "7070:7070"
    - "8009:8009"
    - "8080:8080"
  volumes:
    - /alfresco/alf_data
    - /alfresco/tomcat/logs
    - /content

postgresql:
  environment:
    POSTGRES_DB: alfresco
    POSTGRES_PASSWORD: alfresco
    POSTGRES_USER: alfresco
  image: postgres:9.4
  volumes:
    - /var/lib/postgresql/data
